<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	
	<bean id="studentBean11" class="lazyinitialized.bean.example.Student" lazy-init="true">
		<property name="name" value="satya" />
	</bean>

	<bean id="addressBean" class="lazyinitialized.bean.example.Address"   >
		<property name="city" value="New Delhi" />
		<property name="state" value="Delhi" />
	</bean>

	<!-- End -->

</beans>
