<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" default-dependency-check="all">
      


<bean id="fda" class="com.model.FDAccountCalculator" dependency-check="none">

</bean>
<bean id="sa" class="com.model.SavingAccountInterestCalculator">

</bean>
<bean id="service" class="com.service.CalculatorService">
<property name="ic" ref="fda"/>
</bean>
</beans>	
