<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
		
	<bean id="vehicle" class="com.bean.Vehicle" >
	   <property name="tyreCount" value="4" />
	</bean>
	
	<bean id="car" class="com.bean.Car" parent="vehicle">
		<property name="airBag" value="No" />
	</bean>
</beans>
