<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:ct="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		 http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 	<ct:annotation-config />
	<bean id="sec" class="client.Second" />
	<bean id="first" class="client.First" />
	
	
	<bean id="connection" class="java.sql.DriverManager" factory-method="getConnection">
		<constructor-arg index="0" value="jdbc:mysql://localhost:3306/HibernateDB" />
		<constructor-arg index="1" value="root" />
		<constructor-arg index="2" value="root" />
	</bean>
	<bean id="accountDao" class="com.dao.AccountInMemoryImpl">
	</bean>

	 <bean id="transferService" 
	 	class="com.service.TransferServiceImpl" />
	 
 
 	<!-- Set properties using Constructor injection -->
	<bean id="rahulAccount" class="com.entity.Account">
       <constructor-arg index="0" value="SB500" />
	   <constructor-arg index="1" value="Rahul B Prakash" /> 
       <constructor-arg index="2" value="8590.50" /> 
     </bean>
     
    <!-- Set properties using setter injection -->
     <bean id="deepaAccount" class="com.entity.Account">
      	<property name="accountNumber" value="SB922" />
	  	<property name="accountOwner" value="Deepa" />
		<property name="balance" value="3455.55" />
     </bean>
     
</beans>
